body {
    background-image:url("Images/cards/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#dealer {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#player{
    display:block;
    width:75%;
    margin-left: auto;
    margin-right: auto;
}

.Cards {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}