body {
    background-image:url("Images/cards/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#spacing{
    margin-top:5%;
    margin-bottom:5%
}


#dealer img{
   
    margin-left: auto;
    margin-right: auto;
}
#player img{
   
    margin-left: auto;
    margin-right: auto;
}