body {
    background-image:url("Images/cards/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#spacing{
    margin:50%;
}


#dealer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#player {
    display: block;
    margin-left: auto;
    margin-right: auto;
}