@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pet Store Forever<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Career:</strong> <a href="mailto:Support@example.com">Career@example.com</a><br />
    <strong>Blog:</strong> <a href="mailto:Marketing@example.com">Blog@example.com</a>
</address>
